body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background: #ffe6ea;
}

#heading {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 40px;
}

#tapText {
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

#message {
  display: none;
  font-size: 20px;
  margin-top: 20px;
}

#hint {
  display: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

#cake {
  display: none;
  font-size: 80px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  z-index: 10;
  transition:transform 0.3s ease;
}

#balloons {
  position: fixed;
  bottom: -200px;
  left: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  display: none;

  text-align: center;
  font-size: 40px;
}

.balloon-fly {
  display: block;
  animation: rise 5s forwards;
}

@keyframes rise {
  from { bottom: -200px; }
  to { bottom: 110%; }
}

  #endText {
  display: none;
  margin-top: 20px;
  font-size: 20px;
}

@keyframes floatUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(-100px);
    opacity: 1;
  }
}

#cakeHint {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  opacity: 0;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

@media (max-width: 600px) {
  #heading {
    font-size: 30px;
    text-align: center;
  }

  #tapText, #message, #hint, #cakeHint {
    font-size: 16px;
    text-align: center;
  }

  #cake {
    font-size: 70px;
  }
}	