body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg,#ffdde1,#ee9ca7);
}

#heading {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 40px;
  opacity: 0;
  transform: translateY(20px);
  animation: headingPop 1s ease forwards;
}

#tapText {
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
  margin-top: 10px;
  transition: all 0.4s ease;
}

#tapText:hover{
  transform: translateY(0) scale(1.08);
  color:#e63946;
}

#message {
  display: none;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;

  background-color: #ffd1dc !important;
  padding: 18px 20px;
  border-radius: 16px;

  animation: fade-in 0.6s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#hint {
  display: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

#cake {
  display: none;
  font-size: 80px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  z-index: 10;
  transition:transform 0.3s ease;
}

#balloons {
  position: fixed;
  bottom: -200px;
  left: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  display: none;

  text-align: center;
  font-size: 40px;
}

.balloon-fly {
  display: block;
  animation: rise 5s forwards;
}

@keyframes rise {
  from { bottom: -200px; }
  to { bottom: 110%; }
}

  #endText {
  display: none;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  animation: fadeIn 1s ease;
}

@keyframes floatUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(-100px);
    opacity: 1;
  }
}

#cakeHint {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  opacity: 0;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

@media (max-width: 600px) {
  #heading {
    font-size: 30px;
    text-align: center;
  }

  #tapText, #message, #hint, #cakeHint {
    font-size: 16px;
    text-align: center;
  }

  #cake {
    font-size: 70px;
  }
}	

@keyframes headingPop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 1.5s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


